/***** GENERAL-USE STYLES *****/

.button-array {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fake-link {
  color: #0000EE;
  text-decoration: underline;
}

.half-page-column {
  width: 48vw;
}

.has-hover-text {
  text-decoration: underline dashed;
}

.padded-error-message {
  height: 400px
}

.substance-highlight {
  background-color: #bce6fc !important;
  /*font-weight: bold !important;*/
}

.text-that-can-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-column-page {
  display: flex;
  justify-content: space-between;
}



/***** STYLES FOR TAB BARS *****/

.tab-bar {
  margin-bottom: 0px;
  display: flex;
  justify-content: left;
}

.tab-bar a {
  padding: 12px 24px;
  border: 1px solid #0e6993;
}

.tab-bar a.active {
  background: rgb(14, 105, 147, 0.25);
}

.tab-bar a.disabled {
  border: 1px solid #87b4c9;
  color: #87b4c9;
  pointer-events: none;
}

.tab-bar button {
  padding: 12px 24px;
  border: 1px solid #0e6993;
  background: #FFFFFF;
}

.tab-bar button.active {
  background: rgb(14, 105, 147, 0.25);
}

.tab-bar button.disabled {
  border: 1px solid #87b4c9;
  color: #87b4c9;
  pointer-events: none;
}


/***** AG-GRID TABLE FORMATTING *****/

.ag-theme-balham {
  --ag-selected-row-background-color: rgb(14, 105, 147, 0.25);
}


/***** STUFF FOR CHEMICAL IMAGE DISPLAY *****/

.chemical-box {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
  
.chemical-image-highlight {
  display: flex;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.chemical-image {
  display: flex;
  max-height: 200px;
  max-width: 200px;
}

.chemical-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
}



/***** SEARCH RESULTS & METADATA HEADER *****/
.results-header {
  height: 300px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.results-header h1 {
  margin: 0px
}
