/* STUFF FOR CHEMICAL IMAGE DISPLAY */

.chemical-box {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /*border: 10px solid red;*/
  }
  
.chemical-image-highlight {
  display: flex;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.chemical-image {
  display: flex;
  max-height: 200px;
  max-width: 200px;
}

.chemical-info {
  display: flex;
  /*border: 5px solid yellow;*/
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
}

/* header for search results & metadata info; keep it here so it can be called by all necessary components */
.results-header {
  height: 300px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.results-header h1 {
  margin: 0px
}
