/***** GENERAL-USE STYLES *****/

.text-that-can-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/***** STYLES FOR TAB BARS *****/

.tab-bar {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

.tab-bar a{
  padding: 12px 24px;
  border: 1px solid #0e6993;
}

.tab-bar a.active {
  background: rgb(14, 105, 147, 0.25);
}

.tab-bar a.disabled{
  border: 1px solid #87b4c9;
  color: #87b4c9;
  pointer-events: none;
}


/***** AG-GRID TABLE FORMATTING *****/

.ag-theme-balham {
  --ag-selected-row-background-color: rgb(14, 105, 147, 0.25);
}